CONNECT4_LISTENING_PORT=

CONNECT4_DATABASE_HOST=
CONNECT4_DATABASE_USER=
CONNECT4_DATABASE_PASSWORD=
CONNECT4_DATABASE_NAME=
CONNECT4_DATABASE_PORT=

CONNECT4_JWT_SECRET=
CONNECT4_JWT_EXPIRES_IN=

CONNECT4_CACHE_HOST=
CONNECT4_CACHE_PORT=
CONNECT4_CACHE_PASSWORD=